<a><button style="margin: 20px" class = "btn btn-success" data-toggle="collapse" data-target="#createNewCertificate">New certificate</button></a>

<button mat-raised-button (click)="startDownload()" color="primary">Download certificate</button>

<div id="createNewCertificate" class="collapse">

  <mat-card class="create-cert-card">
    <mat-card-header>
      <mat-card-title>Create Certificate</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form">
        <table class="create-full-width">
          <tr>
            <td>
                <input class="form-control" placeholder="Issuer" name="issuer" [(ngModel)]="data.issuer" disabled required>

            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" placeholder="Country Name [C]" [(ngModel)]="countryNameC" name="countryNameC" required>
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" placeholder="Organization [O]" [(ngModel)]="organizationO" name="organizationO" required>
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" placeholder="Organizational Unit [OU]" [(ngModel)]="organizationalUnitOU" name="organizationalUnitOU" required>
            </td>
          </tr>
          <tr>
            <td>
              <input  class="form-control" placeholder="Common NameCN [CN]" [(ngModel)]="commonNameCN" name="commonNameCN" required>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="create-full-width">
              <mat-label>Select certificate type</mat-label>
              <mat-select [(value)]="data.certificateType" required>
                <mat-option value="ROOT">Root</mat-option>
                <mat-option value="INTERMEDIATE">Intermediate</mat-option>
                <mat-option value="USER">User</mat-option>
              </mat-select>
            </mat-form-field></td>
          </tr>
        </table>
      </form>
      <mat-spinner [diameter]="30" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="create()" color="primary">Create</button>
    </mat-card-actions>
  </mat-card>
</div>



<div class="card-container">
  <div class="card" style="margin: 20px; border: none">    
  <div class= "row" >
      <div class = "col-sm-2" *ngFor = 'let ss of nodes'>
          <div class="card">
              <img src= "https://serving.photos.photobox.com/643058341cc38744407bf22eb46023b33b452cf2d1b0967950eccca74c2ec484eac882d1.jpg" class="card-img-top" alt="oop">
              <div class="card-body">
                <h5 class="card-title" >Certificate: {{ ss.id }}</h5>
                  <a><button class="btn btn-primary" (click)="onTreeNodeSelect(ss.id, ss.name)"><i class="fa fa-folder-open"></i> Select</button></a>
                  <a><button style="float: right" class="btn btn-danger" (click)="delete(ss.id)"><i class="fa fa-close"></i> Delete</button></a>
              </div>
            </div>
      </div>
  </div>
  </div>
</div>