
<a><button style="margin: 20px" class = "btn btn-success" data-toggle="collapse" data-target="#newForm">New server</button></a>
<div id="newForm" class="collapse">
        <form class="form-horizontal">
            <div style="margin: 20px" class="form-group card col-sm-2">
            <label>Name</label><input name="name" [(ngModel)]="server.name" class="form-control" type="text">
            <label>Address</label><input name="address" [(ngModel)]="server.address" class="form-control" type="text">
            <label>Type</label><input name="type" [(ngModel)]="server.type" class="form-control" type="text">
        <input style="margin: 20px" type="button" class="btn btn-success" (click)="onSubmit()" value="Create"></div>
        </form>
    </div>
<div class="card" style="margin: 20px; border: none">    
<div class= "row" >
    <div class = "col-sm-2" *ngFor = 'let ss of serversList'>
        <div class="card">
            <img src= "https://serving.photos.photobox.com/643058341cc38744407bf22eb46023b33b452cf2d1b0967950eccca74c2ec484eac882d1.jpg" class="card-img-top" alt="oop">
            <div class="card-body">
              <h5 class="card-title">{{ ss.name }}</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>{{ ss.id }}</td>
                            <td>{{ ss.address }}</td>
                            <td>{{ ss.type }}</td>
                        </tr>
                    </tbody>
                </table>
                <a><button class="btn btn-warning" data-toggle="collapse" data-target="#modify"><i class="fa fa-edit"></i> Edit</button></a>
                <a><button style="float: right" class="btn btn-danger" (click)="delete(ss.id)"><i class="fa fa-close"></i> Delete</button></a>
            </div>
          </div>
    </div>
</div>
</div>

<div id="modify" class="collapse">
    <p>You can't modify server. Yet!</p>
</div>

