<!DOCTYPE html>
<body style="align-content: center">
<div class="col-5">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col-xs-1">Id</th>
                <th scope="col-1">Serial number</th>
                <th scope="col-xs-1">Name</th>
                <th scope="col-1">Status</th>
                <th scope="col-xs-1" colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = 'let cert of certificateList'>
                <td>{{ cert.id }}</td>
                <td>{{ cert.serialNumber }}</td>
                <td>{{ cert.name }}</td>
                <td>{{ cert.status }}</td>
                <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-folder-open-o"></i> Open</button></td>
                <td><button type="button" class="btn btn-warning"><i class="fa fa-edit"></i> Modify</button></td>
                <td><button type="button" class="btn btn-danger"><i class="fa fa-close"></i> Delete</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <!--
    <div class=row>
      <div class="col-4">
      <div class="card text-right">
      <div class="card-body">
        <form exportAs="ngForm">
              <div class="form-row">
        <div class="col-8 my-1 text-right">
          <input type="checkbox" class="form-control" name = "reserved" [(ngModel)]="seat.reserved">
        </div>
        <div class="col my-1 text-right">
              <button type="submit" class="btn btn-success" (click)="onSubmit()"><i class="fa fa-plus"></i> Add type</button>
        </div>
      </div>
      </form>
      </div>
      </div></div></div>-->
    </body>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>