<!DOCTYPE html>
<div style="text-align:center">
  <nav class="navbar navbar-expand navbar-dark bg-custom-2">
    <ul class = "nav navbar-nav">
      <li><a class="nav-link" [routerLink]="['/localserver']" routerLinkActive="router-link-active" >Servers</a></li>
      <li class='nav-item dropdown'><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Certificate</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/certificate']" routerLinkActive="router-link-active" >List</a>
          </div>
       
    </ul>
  </nav>
  <br><br>
</div>

  
<router-outlet></router-outlet>
